@use "@oblique/oblique/styles/scss/core/variables" as variables;
@use "@oblique/oblique/styles/scss/core/palette" as palette;

.search-results {
    margin: variables.$ob-spacing-xl 0;
}

.opendata-search-result-item {
    border-bottom: 1px solid palette.$ob-secondary-200;

    .title-wrapper {
        margin: variables.$ob-spacing-default 0;
        font-weight: 600;

        h3 {
            font-size: variables.$ob-font-size-lg;
            margin: 0;

            > a {
				color: palette.$ob-blue-900;
                text-decoration: none;
            }

            > a:focus,
            > a:hover {
                text-decoration: underline;
            }
        }
    }
    div {
        margin: variables.$ob-spacing-lg 0;
    }
}
