@use "@oblique/oblique/styles/scss/core/variables" as *;
@use "@oblique/oblique/styles/scss/core/palette" as *;

.table-container {
	    padding-top: 0%;
	.title-wrapper {
		background-color: rgba(0, 0, 250, 0.06);
		padding: $ob-spacing-default;
		.title {
			font-size: ob-lg;
			font-weight: bold;
		}
	}
}

.property-item {
	font-size: ob-sm;
}
