<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="http_proxy" value="http://proxy-bvcol.admin.ch:8080" />
		<add key="https_proxy" value="http://proxy-bvcol.admin.ch:8080" />
		<add key="http_proxy.proxy_ssl_verify" value="off" />
		<add key="http_proxy.Bypass" value="repo.bit.admin.ch" />
	</config>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>