@import "@oblique/oblique/styles/scss/core/variables";
@import "@oblique/oblique/styles/scss/core/palette";

.container {
	padding: $ob-spacing-default 0;
}

h2 {
	font-size: 1.625rem;
	margin: 12px 0 12px 0;
}

th:not(:empty) {
	min-width: 110px;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

.download-table {
	.mat-mdc-header-row,
	.mat-mdc-row {
		.mat-column- {
			&title {
				width: 60%;
			}

			&format {
				width: 20%;
				white-space: nowrap;

				mat-chip-set {
					display: inline-flex;
				}
			}

			&actions {
				width: 20%;
				white-space: nowrap;
				text-align: end;

				.action-wrapper {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					gap: $ob-spacing-xxl;
				}
			}
		}
	}
}
