<form [formGroup]="form">
	<div class="ob-flex">
		<div class="ob-grow-6">
			<h1>{{ title }}</h1>
			<div class="margin-bottom-default">
				<h2>{{ "i18n.datasets.concept.metadata.title" | translate }}</h2>
				<p>{{ "i18n.datasets.concept.general_information.title" | translate }}</p>
			</div>
		</div>

		<div class="text-align-right">
			<button
				id="multilingual-collapse-button"
				type="button"
				mat-button
				obButton="secondary"
				[matTooltip]="(showAllLanguages ? 'i18n.multilingual.collapse' : 'i18n.multilingual.expand') | translate"
				(click)="showAllLanguages = !showAllLanguages"
			>
				<mat-icon [svgIcon]="showAllLanguages ? 'collapse' : 'expand'" class="ob-icon"></mat-icon>
				<span class="multilingual-collapse-button-label">
					{{ (showAllLanguages ? "i18n.multilingual.collapse" : "i18n.multilingual.expand") | translate }}
				</span>
			</button>
		</div>
	</div>

	<div formGroupName="name">
		<mat-accordion multi>
			@for (lang of contentLanguages; track lang) {
				<mat-expansion-panel class="mat-elevation-z0" hideToggle="true" [expanded]="showAllLanguages || currentLanguage === lang">
					<mat-form-field>
						<mat-label [ngClass]="{ 'mark-required': form?.get(['name', lang])?.errors?.multiLangError }"
							>{{ "i18n.datasets.concept.name.title" | translate }} ({{ lang | uppercase }})
						</mat-label>
						<input id="title-concept-{{ lang }}" type="text" matInput formControlName="{{ lang }}" />
						@if (form.get(["name", lang]) | isinvalidanduntouched | async) {
							<mat-hint>{{ "i18n.multilingual.hint.name" | translate }}</mat-hint>
						}
						<mat-error>{{ "i18n.multilingual.error.name" | translate }}</mat-error>
					</mat-form-field>
				</mat-expansion-panel>
			}
		</mat-accordion>
	</div>

	<div formGroupName="description">
		<mat-accordion multi>
			@for (lang of contentLanguages; track lang) {
				<mat-expansion-panel class="mat-elevation-z0" hideToggle="true" [expanded]="showAllLanguages || currentLanguage === lang">
					<mat-form-field>
						<mat-label [ngClass]="{ 'mark-required': form?.get(['description', lang])?.errors?.multiLangError }"
							>{{ "i18n.property.description.label" | translate }} ({{ lang | uppercase }})
						</mat-label>
						<textarea id="description-concept-{{ lang }}" matInput formControlName="{{ lang }}"></textarea>
						@if (form.get(["description", lang]) | isinvalidanduntouched | async) {
							<mat-hint>{{ "i18n.multilingual.hint.description" | translate }}</mat-hint>
						}
						<mat-error>{{ "i18n.multilingual.error.description" | translate }}</mat-error>
					</mat-form-field>
				</mat-expansion-panel>
			}
		</mat-accordion>
	</div>

	@if (dto?.identifiers) {
		<div>
			<app-edit-identifier
				[dto]="dto"
				[form]="form"
				[isIdentifierEditionDisabled]="isVersionMode"
				[isFirstIdentifierLocked]="isFirstIdentifierLocked"
			></app-edit-identifier>
		</div>
	}

	<div class="ob-grid">
		<div class="ob-span-3">
			<div>
				<mat-form-field>
					<mat-label>{{ "i18n.property.version.label" | translate }}</mat-label>
					<input id="version-concept" type="text" matInput formControlName="version" />
					<mat-icon svgIcon="question_circle" matSuffix [matTooltip]="'i18n.input.version.tooltip' | translate"></mat-icon>
					@if (form?.get("version")?.errors?.required) {
						<mat-error>{{ "i18n.error.required" | translate }}</mat-error>
					}
					@if (form?.get("version")?.errors?.pattern) {
						<mat-error>{{ "i18n.error.version_pattern" | translate }}</mat-error>
					}
					@if (form?.get("version")?.errors?.identifierAndVersionExists) {
						<mat-error>
							{{ "i18n.error.identifier_and_version_exists" | translate }}
						</mat-error>
					}
				</mat-form-field>
			</div>
		</div>
	</div>

	@if (!isVersionMode) {
		<div class="ob-grid">
			<div class="ob-span-3">
				<div class="flex-container-wrapper">
					<mat-form-field class="mat-form-field-wrapper">
						<mat-label>{{ "i18n.property.publisher.label" | translate }}</mat-label>
						<input id="publisher-description" type="text" matInput formControlName="publisher" [matAutocomplete]="auto" />
						<mat-autocomplete id="description-publisher-autocomplete" autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayValue">
							@for (agent of filteredAgents$ | async; track agent; let i = $index) {
								<mat-option [value]="agent" [id]="'agent' + i">
									{{ agent.name | fallback: currentLanguage }}
								</mat-option>
							}
						</mat-autocomplete>
						<mat-error>{{ "i18n.error.required" | translate }}</mat-error>
					</mat-form-field>
					<button type="button" class="vocab-info-btn" [attr.aria-label]="'i18n.popover.info_button.aria_label' | translate" [obPopover]="publisherPopover">
						<mat-icon svgIcon="info_circle" class="ob-icon"></mat-icon>
					</button>
					<ng-template #publisherPopover>
						<div class="vocab-popover">
							<div class="vocab-popover__content">
								<strong>{{ "i18n.property.publisher.label" | translate }}</strong>
								<p>{{ "i18n.property.publisher.popover.description" | translate }}</p>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	}

	<div class="ob-grid">
		<div class="ob-span-3">
			<mat-form-field>
				<mat-label>{{ "i18n.property.valid_from.label" | translate }}</mat-label>
				<input id="validFrom_concept" matInput [matDatepicker]="validFromDatePicker" formControlName="validFrom" />
				<mat-datepicker-toggle matSuffix [for]="validFromDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #validFromDatePicker></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="ob-span-3">
			<mat-form-field>
				<mat-label>{{ "i18n.property.valid_to.label" | translate }}</mat-label>
				<input id="validTo-concept" matInput [matDatepicker]="validToDatePicker" formControlName="validTo" />
				<mat-datepicker-toggle matSuffix [for]="validToDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #validToDatePicker></mat-datepicker>
				@if (form?.get("validTo")?.errors?.validToBeforeValidFrom) {
					<mat-error>{{ "i18n.error.valid_to_before_valid_from" | translate }}</mat-error>
				}
			</mat-form-field>
		</div>
	</div>

	<div class="ob-grid">
		<div class="ob-span-3">
			<div class="flex-container-wrapper">
				<mat-form-field class="mat-form-field-wrapper">
					<mat-label>
						{{ "i18n.property.responsible_person.label" | translate }}
					</mat-label>
					<input
						id="responsiblePerson-concept"
						matInput
						formControlName="responsiblePerson"
						[matAutocomplete]="responsiblePersonAutoComplete"
						(blur)="form.get('responsiblePerson')?.markAsTouched()"
					/>
					@if (form?.get("responsiblePerson")?.errors?.notSelected) {
						<mat-error>{{ "i18n.error.not_selected" | translate }}</mat-error>
					}
					@if (form?.get("responsiblePerson")?.errors?.minSearchLength) {
						<mat-error>{{ "i18n.input.min_characters.hint" | translate }}</mat-error>
					}
				</mat-form-field>
				<ng-container>
					<mat-icon svgIcon="info_circle" [matTooltip]="'i18n.property.responsible_person.tooltip' | translate"></mat-icon>
				</ng-container>
				<mat-autocomplete #responsiblePersonAutoComplete="matAutocomplete" [displayWith]="displayFn">
					@for (user of form.get("responsiblePerson")?.valueChanges | personsearch | async; track user; let i = $index) {
						<mat-option class="person-picker" id="{{ 'responsiblePerson' + i }}" [value]="user">
							<span class="mat-option-text-name">{{ user?.displayName }}</span>
							<span class="mat-option-text-email">{{ user?.email }}</span>
						</mat-option>
					}
				</mat-autocomplete>
			</div>
		</div>
		<div class="ob-span-3">
			<div class="flex-container-wrapper">
				<mat-form-field class="mat-form-field-wrapper">
					<mat-label>
						{{ "i18n.property.responsible_deputy.label" | translate }}
					</mat-label>
					<input
						id="responsibleDeputy-concept"
						matInput
						formControlName="responsibleDeputy"
						[matAutocomplete]="responsibleDeputyAutoComplete"
						(blur)="form.get('responsibleDeputy')?.markAsTouched()"
					/>
					@if (form?.get("responsibleDeputy")?.errors?.notSelected) {
						<mat-error>{{ "i18n.error.not_selected" | translate }}</mat-error>
					}
					@if (form?.get("responsibleDeputy")?.errors?.minSearchLength) {
						<mat-error>{{ "i18n.input.min_characters.hint" | translate }}</mat-error>
					}
					@if (form?.get("responsibleDeputy")?.errors?.deputySameAsPerson) {
						<mat-error>{{ "i18n.error.deputy_same_as_person" | translate }}</mat-error>
					}
				</mat-form-field>
				<ng-container>
					<mat-icon svgIcon="info_circle" [matTooltip]="'i18n.property.responsible_deputy.tooltip' | translate"></mat-icon>
				</ng-container>
				<mat-autocomplete class="person-picker" #responsibleDeputyAutoComplete="matAutocomplete" [displayWith]="displayFn">
					@for (user of form.get("responsibleDeputy")?.valueChanges | personsearch | async; track user; let i = $index) {
						<mat-option id="{{ 'responsibleDeputy' + i }}" [value]="user">
							<span class="mat-option-text-name">{{ user?.displayName }}</span>
							<span class="mat-option-text-email">{{ user?.email }}</span>
						</mat-option>
					}
				</mat-autocomplete>
			</div>
		</div>
	</div>
	@if (!isVersionMode) {
		<div class="ob-flex">
			<div class="ob-grow-6 margin-top-default">
				<h2>{{ "i18n.property.themes.label" | translate }}</h2>
			</div>
		</div>

		<mat-form-field>
			<mat-label>{{ "i18n.property.themes.label" | translate }}</mat-label>
			<mat-select id="themeCodes" formControlName="theme" multiple>
				@for (theme of formatThemes$ | async; track theme) {
					<mat-option id="{{ theme.code }}" [value]="theme?.code">
						{{ theme?.name | fallback: currentLanguage }}
					</mat-option>
				}
			</mat-select>
		</mat-form-field>

		<div class="table-wrapper">
			<h2>{{ "i18n.property.keywords.label" | translate }}</h2>
			<app-edit-table-keywords
				controlName="keywords"
				[dto]="dto.keywords"
				[parentForm]="form"
				(edit)="onChildIsEditing('keyword', $event)"
			></app-edit-table-keywords>
		</div>

		<div class="table-wrapper">
			<h2>
				{{ "i18n.property.conforms_to.label" | translate }}
			</h2>
			<app-edit-table-resource
				controlName="conformsTo"
				[dto]="dto.conformsTo"
				[parentForm]="form"
				(edit)="onChildIsEditing('conformsTo', $event)"
			></app-edit-table-resource>
		</div>

		<div class="ob-flex">
			<div class="ob-grow-6 margin-bottom-default">
				<h2>{{ "i18n.datasets.concept.properties.type.title" | translate }}</h2>
			</div>
		</div>

		<div class="ob-grid">
			<div class="ob-span-3">
				<div>
					<mat-form-field>
						<mat-label>{{ "i18n.datasets.concept.type.title" | translate }}</mat-label>
						<mat-select id="conceptType" formControlName="conceptType">
							@for (type of conceptTypes; track type) {
								<mat-option (onSelectionChange)="onConceptTypeSelected(type, $event)" id="{{ type }}" [value]="type">{{
									"i18n.datasets.concept.type." + type.toLowerCase() + ".title" | translate
								}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			@switch (selectedConceptType) {
				@case (conceptTypeEnum.Date) {
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.pattern.title" | translate }}</mat-label>
								<input id="pattern-date" type="text" matInput formControlName="pattern" />
							</mat-form-field>
						</div>
					</div>
				}
				@case (conceptTypeEnum.String) {
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.pattern.title" | translate }}</mat-label>
								<input id="pattern-string" type="text" matInput formControlName="pattern" />
							</mat-form-field>
						</div>
					</div>
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.minimum.length.title" | translate }}</mat-label>
								<input id="minLength" type="text" required matInput formControlName="minLength" />
							</mat-form-field>
						</div>
					</div>
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.maximum.length.title" | translate }}</mat-label>
								<input id="maxLength" type="text" required matInput formControlName="maxLength" />
							</mat-form-field>
						</div>
					</div>
				}
				@case (conceptTypeEnum.Numeric) {
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.pattern.title" | translate }}</mat-label>
								<input id="pattern-numeric" type="text" matInput formControlName="pattern" />
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.number.decimal.places.title" | translate }}</mat-label>
								<input id="nbDecimal" type="text" required matInput formControlName="nbDecimal" />
							</mat-form-field>
						</div>
					</div>
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.measurement.unit.title" | translate }}</mat-label>
								<input id="measurementUnit" type="text" matInput formControlName="measurementUnit" />
							</mat-form-field>
						</div>
						<div [hidden]="true">
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.interval.title" | translate }}</mat-label>
								<input id="interval" type="text" matInput />
							</mat-form-field>
						</div>
					</div>
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.minimum.value.title" | translate }}</mat-label>
								<input id="minValue" type="text" required matInput formControlName="minValue" />
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.maximum.value.title" | translate }}</mat-label>
								<input id="maxValue" type="text" required matInput formControlName="maxValue" />
							</mat-form-field>
						</div>
					</div>
				}
				@case (conceptTypeEnum.CodeList) {
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.codelistentryvaluetype.title" | translate }}</mat-label>
								<mat-select id="codeListEntryValueType" required formControlName="codeListEntryValueType">
									@for (valueType of codeListEntryValueTypes; track valueType) {
										<mat-option id="{{ valueType }}" [value]="valueType">
											{{ "i18n.datasets.concept.properties.type.codelistentryvaluetype." + valueType.toLowerCase() | translate }}
										</mat-option>
									}
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.codelistentryvaluemaxlength.title" | translate }}</mat-label>
								<input id="codelistEntryValueMaxLength" type="text" required matInput formControlName="codelistEntryValueMaxLength" />
							</mat-form-field>
						</div>
					</div>
					<div class="ob-span-3">
						<div>
							<mat-form-field>
								<mat-label>{{ "i18n.datasets.concept.properties.type.codelistentrysort.title" | translate }}</mat-label>
								<mat-select id="codeListEntryDefaultSortProperty" formControlName="codeListEntryDefaultSortProperty">
									<mat-option [value]="null"></mat-option>
									@for (valueType of codeListEntryDefaultSortProperty; track valueType) {
										<mat-option id="{{ valueType }}" [value]="valueType">
											{{ "i18n.datasets.concept.properties.type.codelistentrysort." + valueType.toLowerCase() | translate }}
										</mat-option>
									}
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				}
			}
		</div>
	}

	@if (selectedConceptType === conceptTypeEnum.CodeList) {
		<div>
			@if (!isVersionMode) {
				<h2>{{ "i18n.codelist.title" | translate }}</h2>
				<div class="button-wrapper text-align-right">
					<div>
						<input #importJson type="file" hidden (change)="handleImportJson($event.target.files, importJson)" accept=".json" />
						<input #importCsv type="file" hidden (change)="handleImportCsv($event.target.files, importCsv)" accept=".csv" />
						<button
							id="importbutton"
							[disabled]="!canImport()"
							mat-button
							obButton="secondary"
							#buttonMenuTrigger="matMenuTrigger"
							[matMenuTriggerFor]="buttonMenu"
							[matTooltip]="(!canImport() ? 'i18n.datasets.content.importbutton.tooltip' : '') | translate"
						>
							{{ "i18n.datasets.content.importbutton" | translate }}
							<mat-icon svgIcon="{{ buttonMenuTrigger.menuOpen ? 'chevron_up' : 'chevron_down' }}"></mat-icon>
						</button>
						<mat-menu #buttonMenu="matMenu">
							<button type="button" id="importbutton-json" mat-menu-item (click)="importJson.click()">
								{{ "i18n.datasets.content.importbutton.json" | translate }}
							</button>
							<button type="button" id="importbutton-csv" mat-menu-item (click)="importCsv.click()">
								{{ "i18n.datasets.content.importbutton.csv" | translate }}
							</button>
						</mat-menu>
					</div>
					<div>
						<button
							mat-button
							obButton="secondary"
							id="delete-all-codeList"
							(click)="deleteAllCodeList()"
							[disabled]="!codelistEntries || codelistEntries.length === 0"
						>
							{{ "i18n.datasets.concept.delete.codelist.button" | translate }}
							<mat-icon svgIcon="delete"></mat-icon>
						</button>
					</div>
				</div>
				<div class="containerCodeValues">
					<app-edit-table-codelist
						[isNewCodeList]="canCreateCodeValues()"
						[conceptId]="dto.id"
						[showAllLanguages]="showAllLanguages"
						[currentLanguage]="currentLanguage"
						(updateCodeListEntries)="updateCodeListEntries(pagingInfo.page)"
						[dto]="codelistEntries"
						controlName="codeList"
					></app-edit-table-codelist>
					@if (codelistEntries.length > 0) {
						<mat-paginator
							[length]="pagingInfo.totalRows"
							[pageSizeOptions]="pagingInfo.pageSizeOptions"
							[pageSize]="pagingInfo.pageSize"
							[pageIndex]="pagingInfo.page - 1"
							(page)="onChangePage($event)"
						></mat-paginator>
					}
				</div>
			}
			@if (isVersionMode) {
				<div class="containerCodeValues">
					<h2>{{ "i18n.codelist.title" | translate }}</h2>
					<app-codevalue-table [dto]="codelistEntries"></app-codevalue-table>
					@if (codelistEntries.length > 0) {
						<mat-paginator
							[length]="pagingInfo.totalRows"
							[pageSizeOptions]="pagingInfo.pageSizeOptions"
							[pageSize]="pagingInfo.pageSize"
							[pageIndex]="pagingInfo.page - 1"
							(page)="onChangePage($event)"
						></mat-paginator>
					}
				</div>
			}
		</div>
	}
</form>
