@use "@oblique/oblique/styles/scss/core/variables" as *;

.containerCodeValues {
	padding: $ob-spacing-default 0;
}

.button-wrapper {
	display: flex;
	justify-content: flex-end;
	column-gap: $ob-spacing-lg;
	button mat-icon {
		font-size: 18px;
	}
}

.help-icon {
	vertical-align: middle;
	cursor: pointer;
	margin-left: $ob-spacing-sm;

	mat-icon {
		font-size: 24px;
		color: $ob-primary;
	}
}

.mat-mdc-option {
	line-height: 19px;
}

/*TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
.mat-option-text-name {
	display: block;
}

/*TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
.mat-option-text-email {
	display: block;
	color: $ob-gray-dark;
}

/*TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
.mat-option-dataset {
	//display: inline-flex;
	flex-direction: column;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.625rem;
	margin: $ob-spacing-default 0;
}

.flex-container-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 !important;
	padding: 0 !important;
}

mat-icon[svgicon="info_circle"] {
	display: flex;
	align-self: center;
	font-size: $ob-font-size-xl;
	margin: 0 $ob-spacing-default $ob-spacing-default;
}

mat-form-field {
	margin: 0 !important;
	padding: 0 !important;
}

.table-wrapper {
	margin: 2.5rem 0;
}

::ng-deep.mat-mdc-menu-panel {
	button {
		width: 100%;
		text-align: left;
	}
}
