@use "@oblique/oblique/styles/scss/core/variables" as *;

.action-button-wrapper {
	width: 100%;
	text-align: right;
	margin-bottom: $ob-spacing-default;
	margin-top: 0.25rem;

	.mdc-button {
			justify-content: flex-start;
			width: 100%;

			.mat-mdc-button-persistent-ripple::before {
				background-color: transparent;
			}
		}
}
