<h1>{{ title }}</h1>

<div class="container">
	<app-description-edit-form
		[agents]="agents"
		[licenses]="licenses"
		[dto]="dto"
		[form]="form"
		[cancelDialogConfig]="cancelDialogConfig"
		[isEditMode]="isEditMode()"
		[isVersionMode]="isVersionMode()"
		[publicationLevelInfo]="publicationLevelInfo"
		[previousVersion]="previousVersion"
		[registrationStatusInfo]="registrationStatusInfo"
		(cancel)="onCancel()"
		(formChanges)="onFormChanges($event)"
		(save)="onSave()"
		(saveAndClose)="onSaveAndClose()"
	></app-description-edit-form>
</div>
