<app-description-view-template
	[dto]="dataservice"
	[viewType]="viewTypeEnum.DataService"
	[nextVersions]="nextVersions"
	[previousVersion]="previousVersion"
	[servesDatasets]="servesDatasets"
>
	<div ngProjectAs="catalogues-and-themes">
		@if (catalogsAndThemes.length > 0) { @for (ca of catalogsAndThemes; track ca) {
		<div class="property">
			<div class="label">{{ (ca.catalogTitle | fallback : currentLanguage) ?? "-" }}</div>
			<div class="value" id="description-catalogTitle-{{ ca.catalogId }}">
				@let themes = getDisplayableCatalogThemes(ca.themes);
				@if (themes.length > 0) { @for (theme of themes; track theme; let last = $last) {
					@let themeName = theme.name | fallback : currentLanguage;
					@if (theme.uri) {
						<a [href]="theme.uri" target="_blank" rel="noopener noreferrer" [icon]="theme.uri | linkicon">{{ themeName }}</a>
					} @else {
						{{ themeName }}
					}
					{{ !last ? ", " : "" }}
				} } @else {
					-
				}
			</div>
		</div>
		} } @else { - }
	</div>
</app-description-view-template>
