@use "@oblique/oblique/styles/scss/core/variables" as *;
@use "@oblique/oblique/styles/scss/core/palette" as *;

.action-wrapper {
	margin-top: $ob-spacing-lg;

	.search-container {
		margin-bottom: 0;
	}
	.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-bottom: 0;

		.button-wrapper {
			margin: $ob-spacing-sm;

			.download-button {
				top: -0.5em;
  				position: relative;
			}
		}
	}
}
