@use "@oblique/oblique/styles/scss/core/variables" as variables;

.container {
	padding: 0 variables.$ob-spacing-xs;
}

.sticky {
	padding: variables.$ob-spacing-default 0 0;

	.ob-button {
		margin-top: 0.25rem;
	}
}

.download-buttons-stack {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	row-gap: variables.$ob-spacing-sm;
}

::ng-deep.mat-mdc-menu-panel {
	a {
		width: 100%;
		text-align: left;
	}
}
