@use "@oblique/oblique/styles/scss/core/variables" as *;
@use "@oblique/oblique/styles/scss/core/palette" as *;

.action-button {
	display: inline-flex;
	margin: 8px 0 0 8px;

	a {
		display: flex;
	}
}
