<div class="last">
	<h1>{{ "i18n.catalog.title" | translate }}</h1>
</div>
<div class="margin-bottom-default">
	<span>
		{{ "i18n.catalog.description" | translate }}
	</span>
</div>
<div class="ob-grid search-section">
	<div class="ob-span-6 search-input-wrapper">
		<app-search-input id="search-input" (queryChange)="onQueryChange($event)"></app-search-input>
	</div>
</div>

<div class="ob-grid">
	<div class="ob-span-12">
		<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
			<a mat-tab-link routerLink="../all" [queryParams]="getQueryParams(searchTypeEnum.All)" routerLinkActive="active" [id]="'catalog-tabs-all'">
				{{ "i18n.catalog.tabs.all" | translate }} ({{ allCount }})
			</a>
			<a mat-tab-link routerLink="../datasets" [queryParams]="getQueryParams(searchTypeEnum.Dataset)" routerLinkActive="active" [id]="'catalog-tabs-datasets'">
				{{ "i18n.catalog.tabs.datasets" | translate }} ({{ getCountResult(catalogType.Dataset) }})
			</a>
			<a
				mat-tab-link
				routerLink="../publicservices"
				[queryParams]="getQueryParams(searchTypeEnum.Publicservice)"
				routerLinkActive="active"
				[id]="'catalog-tabs-publicservices'"
			>
				{{ "i18n.catalog.tabs.publicservices" | translate }} ({{ getCountResult(catalogType.PublicService) }})
			</a>
			<a
				mat-tab-link
				routerLink="../dataservices"
				[queryParams]="getQueryParams(searchTypeEnum.Dataservice)"
				routerLinkActive="active"
				[id]="'catalog-tabs-dataservices'"
			>
				{{ "i18n.catalog.tabs.dataservices" | translate }} ({{ getCountResult(catalogType.DataService) }})
			</a>
			<a mat-tab-link routerLink="../concepts" [queryParams]="getQueryParams(searchTypeEnum.Concept)" routerLinkActive="active" [id]="'catalog-tabs-concepts'">
				{{ "i18n.catalog.tabs.concepts" | translate }} ({{ getCountResult(catalogType.Concept) }})
			</a>
			<a
				mat-tab-link
				routerLink="../mappingtables"
				[queryParams]="getQueryParams(searchTypeEnum.MappingTable)"
				routerLinkActive="active"
				[id]="'catalog-tabs-mappingtables'"
			>
				{{ "i18n.catalog.tabs.mappingtables" | translate }} ({{ getCountResult(catalogType.MappingTable) }})
			</a>
			<div mat-tab-link class="layoutfix"></div>
			<a mat-tab-link routerLink="../metasearch/opendata" [queryParams]="getQueryParams()" routerLinkActive="active" [id]="'catalog-tabs-opendata'">
				{{ "i18n.catalog.tabs.opendata" | translate }}
			</a>
			<a mat-tab-link routerLink="../metasearch/geocat" [queryParams]="getQueryParams()" routerLinkActive="active" [id]="'catalog-tabs-geocat'">
				{{ "i18n.catalog.tabs.geocat" | translate }}
			</a>
		</nav>
		<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
	</div>
</div>

<div class="filter-section">
	<app-search-filters
		[hideFilters]="hideFilters"
		[searchType]="searchType"
		[updateFilter]="updateFilterSubject.asObservable()"
		(countResultChange)="onCountResultChange($event)"
	></app-search-filters>
</div>

<app-catalog-search-results [searchType]="searchType" [displayTitle]="false" [displayViewSwitcher]="true">
	<ng-template let-result let-i="index" #listResult>
		<app-catalog-search-result-item id="catalog-search-list" [result]="result" [index]="i"></app-catalog-search-result-item>
	</ng-template>
	<ng-template let-results #tableResult>
		<app-search-result-table [dto]="results"></app-search-result-table>
		<div class="table-info-box">
			<app-infobox-no-content [datasource]="results"></app-infobox-no-content>
		</div>
	</ng-template>
</app-catalog-search-results>
