@use "@oblique/oblique/styles/scss/core/variables";
@use "@oblique/oblique/styles/scss/core/mixins/shadow";

h5 {
	margin-top: variables.$ob-spacing-default;
	margin-bottom: variables.$ob-spacing-default;
}

.body-Wrapper {
	display: flex;
	flex-wrap: nowrap;
	min-height: 500px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	margin-left: variables.$ob-spacing-lg;
	.item-wrapper {
		margin-top: variables.$ob-spacing-default;
		.item-title {
			font-size: 14px;
			font-weight: 600;
			margin: 0;
			padding: 0;
		}
		.item-content {
			font-size: 16px;
			margin: 0;
			padding: 0;
		}
	}
}
