@import "@oblique/oblique/styles/scss/core/variables";

.maingroup{
    font-weight: bold;
}

.content{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid;
    border-bottom-color: #000;
    border-bottom-width: 0.1em;

    :hover {
        background-color: $ob-gray-extra-light;
    }
}

.searchlink {
    display: block;
    text-decoration: none;
    color: unset;
    padding-bottom: $ob-spacing-default;
}

.breadCrumbs {
    margin: $ob-spacing-default 0;
    font-size: $ob-font-size-smallest;

    .breadCrumb {
        display:inline-block;
        margin-right: $ob-spacing-default;
    }
    .breadCrumb::after {
        content: '>';
        display:inline-block;
        margin-left: $ob-spacing-default;
    }
    .breadCrumb:last-child::after {
        content: unset;
    }
}

.code,
.name {
    display: block;

    .bold {
        font-weight: bold;
    }
}
