@use "@oblique/oblique/styles/scss/core/variables" as variables;
@use "@oblique/oblique/styles/scss/core/palette" as palette;

	mat-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 300px;
}

h2 {
	font-size: 1.225rem;
	margin: 3px 0;
	font-weight: 600;
}

p {
	font-size: 1rem;
	letter-spacing: 0.8px;
	color: palette.$ob-black;
}

.property {
	margin-bottom: variables.$ob-spacing-default;
	font-size: 1rem;

	.label {
		font-weight: 600;
	}
}
