@use "@oblique/oblique/styles/scss/core/variables" as *;

.iconsize {
	font-size: 32px;
	cursor: pointer;
}

.tr.detail-row {
	height: fit-content !important;
}

.element-row td {
	border-bottom-width: 0;
}

.detail-row {
	height: 0 !important;
}

.element-detail {
	overflow: hidden;
	display: flex;
}

.element-detail-row {
	margin: $ob-spacing-default 0;
}

.expand-container {
	width: 100%;
	margin: 0 $ob-spacing-lg;
	display: grid;
	grid-template-rows: 0fr;
	transition: 500ms grid-template-rows ease;

	&.expanded {
		grid-template-rows: 1fr;
	}

	> .expand-container-content {
		overflow: hidden;
	}
}

.header-chevron {
	text-align: right;
	justify-content: flex-end;
	width: fit-content;
}

.mat-column- {
	&additionalInfo {
		text-align: right;
	}
	&name {
		max-width: 500px;
	}
}

.filter-wrapper {
	display: flex;
	gap: $ob-spacing-sm;
	align-items: baseline;
}
