@use "@oblique/oblique/styles/scss/core/variables" as variables;

.flex-container {
	display: flex;
	flex-direction: line;
	justify-content: flex-end;

	.button-wrapper {
		margin: variables.$ob-spacing-sm;
	}
}

.flex-centre-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;

	.ob-file-upload {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		gap: 2rem 3rem;
	}
}
