@use "@oblique/oblique/styles/scss/core/variables" as variables;

button {
	margin: variables.$ob-spacing-xs;
}

mat-icon {
	position: static !important;
	font-size: 18px;
	color: variables.$ob-primary;
}

.mat-column- {
	&select {
		width: 60px;
	}

	&actions {
		width: 100px;
		text-align: right;
	}

	&type {
		min-width: 120px;
	}
}
