@use "@oblique/oblique/styles/scss/core/variables" as variables;

:host {
  span {
    color: variables.$ob-gray;
  }
}

a.footer-link {
    font-weight: bold;
    text-decoration: none;
}

div.footer-links {
	display: flex;
	gap: variables.$ob-spacing-sm;
}

a.external-link {
	display: flex;
	align-items: center;

	mat-icon {
		display: flex !important;
		font-size: 1.2rem;
	}

	img {
		filter: invert(100%);
	}

	.link-text {
		color: variables.$ob-white;
	}
}

