@use "@oblique/oblique/styles/scss/core/variables" as *;
@use "@oblique/oblique/styles/scss/core/palette" as *;

mat-icon {
	position: static !important;
	font-size: 18px;
	color: $ob-primary;
}

.mat-column- {
	&actions {
		min-width: 120px;
		text-align: right;
	}
}

mat-form-field {
	width: 90%;
	padding-top: 12px;
}
