@use "@oblique/oblique/styles/scss/core/variables" as *;
@use "@oblique/oblique/styles/scss/core/palette" as *;

.flex-container {
	display: flex;
	flex-wrap: nowrap;

	.back-button-wrapper {
		padding-top: $ob-spacing-sm;
		margin-top: $ob-spacing-xs;
		margin-right: $ob-spacing-default;

		.mat-mdc-button-base:not([disabled]):not(.mat-primary):not(.mat-accent):not(.mat-warn) {
			color: $ob-primary;
			border-color: $ob-primary;
			min-width: 36px;
			padding: 0;
		}
	}
}

.flex-container > div.last {
	width: 100%;
	flex: 1;
}

.action-button {
	display: inline-flex;
	margin: 8px 0 0 8px;
}
