@use "@oblique/oblique/styles/scss/core/variables" as variables;

.table-container {
	    padding-top: 0%;
	.title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(0, 0, 250, 0.06);
		padding: variables.$ob-spacing-default 0 variables.$ob-spacing-default variables.$ob-spacing-sm;
		.title {
			font-size: variables.$ob-font-size-lg;
			font-weight: bold;
		}
		.button-plus {
			float: none;
			margin-left: auto;
			padding-right: 0;

			&.mat-mdc-icon-button {
				padding-right: 0;
			}
		}
	}
}

.property-item {
	font-size: variables.$ob-font-size-sm;
}
