@use "@oblique/oblique/styles/scss/core/variables" as variables;

.table-container {
	    padding-top: 0%;
	.title-wrapper {
		background-color: rgba(0, 0, 250, 0.06);
		padding: variables.$ob-spacing-default;
		.title {
			font-size: variables.$ob-font-size-lg;
			font-weight: bold;
		}
	}
}

.property-item {
	font-size: variables.$ob-font-size-sm;
}
