<div class="table-wrapper">
	<div class="detail-table-row-wrapper">
		<table mat-table class="ob-table ob-table-plain" [dataSource]="dataSource" multiTemplateDataRows aria-label="table">
			<ng-container [matColumnDef]="COLUMN_DATASET">
				<th mat-header-cell *matHeaderCellDef>
					{{ "i18n.enum.catalog_type.dataset" | translate }}
				</th>
				<td mat-cell *matCellDef="let element">
					<a *ngIf="element.datasetUrl" [href]="element.datasetUrl" [icon]="element.datasetUrl | linkicon">{{ element.datasetName | fallback: currentLanguage }}</a>
					<span *ngIf="!element.datasetUrl">{{ element.datasetName | fallback: currentLanguage }}</span>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="COLUMN_ATTRIBUTE">
				<th mat-header-cell *matHeaderCellDef>
					{{ "i18n.title.attributes" | translate }}
				</th>
				<td mat-cell *matCellDef="let element">
					<a [href]="element.attributeUri" [icon]="element.attributeUri | linkicon">{{ element.attributeName }}</a>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="COLUMN_PUBLISHER">
				<th mat-header-cell *matHeaderCellDef>
					{{ "i18n.property.publisher" | translate }}
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.publisherName | fallback: currentLanguage }}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
		</table>
		<mat-paginator
			[length]="pagingInfo.totalRows"
			[pageSizeOptions]="pagingInfo.pageSizeOptions"
			[pageSize]="pagingInfo.pageSize"
			[pageIndex]="pagingInfo.page - 1"
			(page)="onChangePage($event)"
		></mat-paginator>
	</div>
</div>
