@use "@oblique/oblique/styles/scss/core/palette" as palette;

.mat-column- {
	&title {
		max-width: 250px;
	}

	&identifiers {
		max-width: 300px;
	}

	&publisherName {
		max-width: 250px;
	}
}

.custom-chips {
	.nonpublic,
	.public,
	.restricted,
	.confidential {
		background-color: transparent;
	}

	.nonpublic,
	.confidential {
		color: palette.$ob-orange-600;
		border: 2px solid palette.$ob-orange-600;

		::ng-deep {
			.mdc-evolution-chip__text-label {
				color: palette.$ob-orange-600;
			}
		}
	}

	.public {
		color: palette.$ob-green-700;
		border: 2px solid palette.$ob-green-700;

		::ng-deep {
			.mdc-evolution-chip__text-label {
				color: palette.$ob-green-700;
			}
		}
	}

	.restricted {
		color: palette.$ob-secondary-600;
		border: 2px solid palette.$ob-secondary-600;

		::ng-deep {
			.mdc-evolution-chip__text-label {
				color: palette.$ob-secondary-600;
			}
		}
	}
}
