@import "@oblique/oblique/styles/scss/core/variables";
@import "@oblique/oblique/styles/scss/core/palette";

.filter-section {
    margin: $ob-spacing-default 0;
    padding: 0 $ob-spacing-sm;

    .filter-header-section {
        margin-bottom:$ob-spacing-sm;
        font-size: $ob-font-size-lg;
        font-weight: 600;

        .help-icon {
            cursor: pointer;

            mat-icon {
                font-size: 24px;
                color: $ob-primary;
            }
        }
    }

    .filter-value-list-section {
         ul {
             list-style: none;
             padding: 0;
         }
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
::ng-deep .filter-section .mat-checkbox-layout {
    white-space: normal;
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
    .mat-checkbox-inner-container {
        margin-top: $ob-spacing-xs;
    }
}
