@use "@oblique/oblique/styles/scss/core/variables" as variables;

.property {
	margin-bottom: variables.$ob-spacing-default;

	.label {
		font-weight: 600;
	}
}

.download-button {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	column-gap: variables.$ob-spacing-lg;
	margin: variables.$ob-spacing-default 0;
}

.tr.detail-row {
	height: fit-content !important;
}

.element-row td {
	border-bottom-width: 0;
}

.detail-row {
	height: 0 !important;
}

.element-detail {
	overflow: hidden;
	display: flex;
}

.element-detail-row {
	margin: variables.$ob-spacing-default 0;
}

.expand-container {
	width: 100%;
	margin: 0 variables.$ob-spacing-lg;
	display: grid;
	grid-template-rows: 0fr;
	transition: 500ms grid-template-rows ease;

	&.expanded {
		grid-template-rows: 1fr;
	}

	> .expand-container-content {
		overflow: hidden;
	}
}

.header-chevron {
	text-align: right;
	justify-content: flex-end;
	width: fit-content;
}