@use "@oblique/oblique/styles/scss/core/variables" as variables;

.action-button {
	display: inline-flex;
	margin-left: variables.$ob-spacing-sm;
	margin-bottom: variables.$ob-spacing-default;
	vertical-align: middle;
}
