@if (annotation.type) {
	<app-detail-table-row [label]="'i18n.concepts.content.annotation.type' | translate">
		{{ annotation.type }}
	</app-detail-table-row>
}
@if (annotation.title) {
	<app-detail-table-row [label]="'i18n.concepts.content.annotation.title' | translate">
		{{ annotation.title }}
	</app-detail-table-row>
}
@if (annotation.text) {
	<app-detail-table-row [label]="'i18n.concepts.content.annotation.text' | translate">
		{{ annotation.text.text }}
	</app-detail-table-row>
}
@if (annotation.uri) {
	<app-detail-table-row [label]="'i18n.concepts.content.annotation.url' | translate">
		{{ annotation.uri }}
	</app-detail-table-row>
}
@if (annotation.identifier) {
	<app-detail-table-row [label]="'i18n.concepts.content.annotation.identifier' | translate">
		{{ annotation.identifier }}
	</app-detail-table-row>
}
<hr />
