@use "@oblique/oblique/styles/scss/core/variables" as variables;

mat-icon {
	position: static !important;
	font-size: 18px;
	color: variables.$ob-primary;
}

.mat-column- {
	&select {
		min-width: 40px;
	}

	&type {
		max-width: 200px;
	}

	&title {
		max-width: 200px;
	}

	&text {
		max-width: 300px;
	}

	&identifier {
		max-width: 200px;
	}

	&actions {
		min-width: 120px;
		text-align: right;
	}
}
